<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-flipper effect__hover" data-id="1">
                    <div class="card__front">
                        <div class="card card-01">
                            <div class="profile-box-01">
                                <h1 data-shadow='1'>1</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="card card-01">
                            <div class="card-body text-center">
                                <p  class="au">Stop Wasting Money, and share your streaming services. &#x1F609;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-flipper effect__hover" data-id="1">
                    <div class="card__front">
                        <div class="card card-01">
                            <div class="profile-box-01">
                                <h1 data-shadow='2'>2</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="card card-01">
                            <div class="card-body text-center">
                                <p class="au">Split as much as possible and grow the pool of unique services everyone has access
                                    to. Set a price for access to each of your accounts. We’ll charge your Wirecontact each
                                    month as long as they have access. &#x1F60E;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-flipper effect__hover" data-id="1">
                    <div class="card__front">
                        <div class="card card-01">
                            <div class="profile-box-01">
                                <h1 data-shadow='3'>3</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="card card-01">
                            <div class="card-body text-center">
                                <p  class="au">Start Wirering Today!
                                    Team up and create a stash of shared accounts. Access more content and split the
                                    costs. &#x1F618;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>