

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card card-flip h-100">
                <div class="card-front text-white" style="background:radial-gradient(circle, rgba(22,148,201,1) 0%, rgba(14,180,136,1) 100%);">
                    <div class="card-body">
                        <h3 class="card-titles">.1 <br>Why WiredIn?</h3>
                        
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">Stop!</h3>
                          <p class="card-text">Stop wasting money, and share your streaming services. You can create a service or find one. Is easy peasy lemon squeezy&#x1F609;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-flip h-100">
                <div class="card-front text-white" style="background:radial-gradient(circle, rgba(22,148,201,1) 0%, rgba(14,180,136,1) 100%);">
                    <div class="card-body">
                        <h3 class="card-titles">.2 <br> Share is the new black!</h3>
                    </div>
                </div>
                <div class="card-back text-white">
                    <div class="card-body">
                        <h3 class="card-title">Split!</h3>
                        <p class="card-text">Split as much as possible and grow the pool of unique services everyone has access
                                    to. Set a price for access to each of your accounts. We'll charge your Wirecontact
                                    each month as long as they have access. &#x1F60E;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-flip h-100">
                <div class="card-front text-white" style="background:radial-gradient(circle, rgba(22,148,201,1) 0%, rgba(14,180,136,1) 100%);" >
                    <div class="card-body">
                        <h3 class="card-titles">.3 <br>Let's Get The Party Started</h3>
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body text-primary">
                        <h3 class="card-title">Start Wirering Today!</h3>
                        <p class="card-text">Team up and create a stash of shared accounts. Access more content and split the
                                    costs. &#x1F618;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>