<div class="container">
  <div class="row board d-flex justify-content-center align-items-center">

   
    <div class="col-sm-4">
      <div class="card card-perspective">
        <div class="card-inner">
          <div class="card-body boards one">
            <h5 class="card-title">Search </h5>
            <p class="card-text">&#x1F52D;</p>
            <a href="/service/menu" class="btn btn-primary">Lets Wired!</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="card card-perspective">
        <div class="card-inner">
          <div class="card-body boards two">
            <h5 class="card-title">Add login</h5>
            <p class="card-text">&#x1F4A1;</p>
            <a href="/service/create" class="btn btn-primary">Create</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>