<div class="footer-basic">

  <ul class="list-inline">
    <li class="list-inline-item"><a href="/terms">Terms</a></li>
    <li class="list-inline-item"><a href="/contact">Contact Us</a></li>
  </ul>
  <p class="copyright">WiredIn © 2021</p>

</div>