<div class="container market">
<div class="marketcard">
    <div class="card" sytle="width:320px">
        <div class="row">
            <div class="card float-right">
                <div class="row">
                    <div class="col-sm-5">
                        <img id="user-photo-market" src="{{currentUser.image}}" alt="">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="col-md-11">
                                <div class="card-block">
                                    <h6 class="serviceName"> Maria</h6>
                                    <h6 class="serviceName">Netflix</h6>
                                    <h6 class="description">Quiero compartir por cuatro meses</h6>
                                </div>
                                <div class="addbtn">
                                    <button type="submit" class="btn abtn btn-primary btn-sm btn-block">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
