<div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>

        <div class="sr-payment-summary payment-view">
          <h1 class="order-amount">Setup payouts to list your home on Kavholm</h1>
        </div>        

          <button id="submit">Setup payouts on Stripe</button>
        </div>
      </div>
    </div>