    <div class="About" style="margin-top: 6rem;">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
 
                    <span class="step">Step 1</span>

                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Stop Wasting Money, and share your streaming services.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                         <span class="step">Step 2</span>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Split as much as possible and grow the pool of unique services everyone has access to. 
                 Set a price for access to each of your accounts. We’ll charge your Wirecontact each month as long as they have access.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                           <span class="step">Step 3</span>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Start Wirering Today!

                    Team up  and create a stash of shared accounts. Access more content and split the costs.

                    </p>
                </div>
            </div>
        </div>
    </div>


