<div class="container">
    <div class="row product">
        <div class="d-flex flex-column justify-content-center align-items-center terms-box" style="margin-top: 6rem;">
            <h6>Terms of Service</h6>
            <p class="terms">These Terms of Service (“Terms”, “Terms of Service”, “Agreement”, or “Service Agreement”) govern your
                relationship with the Wired In Service (the “Service”) operated by Online Wired In. (“us”, “we”, or
                “our”). It is important that you read this carefully because you will be legally bound to these terms.
                Your access to and use of the Service is based on your acceptance of and compliance with these Terms.
                These Terms apply to all visitors, users, customers, and others who access or use the Service.
                By accessing or using the Service you agree to be bound by these Terms and accept all legal
                consequences. If you do not agree to the terms and conditions of this Agreement, in whole or in part,
                you must not use the Service.

            </p>
            <h6>Description of Service</h6>
            <p class="terms">The “Service” means (a) Wired In’s password managing, password sharing, administrative and related systems
                and technologies, as well as the website https://Wiredin.com/ (the “Site”), and (b) all software,
                applications, data, text, images, and other content made available by or on behalf of Wired In. Any
                modifications to the Service are also subject to these Terms. Wired In reserves the right to modify or
                discontinue the Service or any feature or functionality thereof at any time without notice. All rights,
                title and interest in and to the Service will remain with and belong exclusively to Wired In.
                Your Master Password is critical to the security of your Account. It is used to generate the encryption
                keys used to protect Secured Logins (as defined in the “Features and Functions” section) and to transfer
                Secured Logins among your authorized devices. ONLINE Wired In. DOES NOT STORE, HAVE ACCESS TO, OR HAVE
                ANY MEANS OF RECREATING OR RETRIEVING YOUR MASTER PASSWORD OR ACCESSING SECURED LOGINS IF YOU LOSE YOUR
                MASTER PASSWORD. This is an essential security feature intended to protect your Secured Data should our
                systems be compromised. We are not responsible for any inability to access your Account or Secured Data
                caused by loss of your Master Password.
            </p>
            <h6>Features and Functions</h6>
            <p class="terms">The Service offers features designed to save you time, protect your data, and facilitate sharing with
                other users of the Service. We may remove features from the Service at any time. While we strive to
                ensure the proper operation of the Service, we explicitly do not guarantee that they will work properly
                at all times, be error-free, or be available on an uninterrupted basis. It is your responsibility to
                comply with this Agreement when using the Service, and you acknowledge the following:
                1.
                Secured Logins—The Service can be used to store authentication data for other services, including but
                not limited to usernames, emails, passwords, one time password keys, security questions, and notes.
                While we use strong encryption and other security measures to protect Secured Logins, we do not
                guarantee that Secured Logins are or will be 100% protected. Online Wired In. does not and cannot screen
                Secured Logins. You are solely responsible for the accuracy of the Secured Logins and how you use them.
                2.
                3.
                Passwords—While the passwords created by the Service are designed to be as secure as possible, we cannot
                guarantee their security, and we explicitly do not claim that they are immune to attack. Nor do we
                guarantee that the password generator will work properly with all Third-Party Services.
                4.
                5.
                Sharing—If you use the sharing features of the Service, you (i) authorize us to share the data you
                select with the individual(s) you choose, and you warrant that you have the right to do so (e.g., you
                may not share a password to a website or platform that prohibits shared credentials) You are solely
                responsible for granting and revoking sharing privileges and the consequences of all actions recipients
                take with your shared data.
                6.
                7.
                Syncing—If you access the Service from multiple devices, updates to Secured Logins made on one device
                may not be available on another device if (i) that device is unable to access the internet or Online
                Together’s servers; (ii) the App is improperly configured, or you have not installed the most recent
                version of the App; (iii) you uninstall the App from that device, or (iv) you forget your Master
                Password.
                8.
            </p>
            <h6>Prohibited Usage</h6>
            <p class="terms">Usage of the service for unlawful purposes is strictly prohibited. It shall represent immediate grounds
                for termination of access to the Service and for potential referral to law-enforcement agencies.
                Unlawful purposes include, but are not limited to:
                Trafficking in the passwords of others, including passwords that have been stolen, hacked, or otherwise
                obtained without authorization;
                Sharing or offering to share passwords in connection with ransomware, extortion, fraud, bribery,
                smuggling, terrorism, digital piracy, or any other criminal activities, including efforts to unlawfully
                bypass paywalls or to otherwise facilitate unauthorized access to computer systems;
                Sharing or offering to share passwords that provide access to unlawful materials, including child
                pornography, nonconsentual adult pornography, blueprints or schematics for weapons systems or
                export-restricted goods, or images or recordings of coercion, abuse, torture, and other illegal violence
                against humans or animals;
                You are responsible for ensuring that your use of the Service does not constitute activity with an
                unlawful purpose. It is your responsibility to monitor the Terms of Service of third-party platforms or
                networks to ensure that your password-sharing activities comply with the policies of their
                administrators.
            </p>
            <h6>Accounts</h6>
            <p class="terms">When you create an account with us, you must provide information that is accurate, complete, and current
                at all times. Failure to do so constitutes a breach of the Terms.
                You are responsible for safeguarding the password that you use to access the Service and for any
                activities or actions performed with that password, both on the Service and on third-party websites or
                platforms.
                You agree not to disclose your password for the Service to any third party. You must notify us
                immediately upon becoming aware of any breach of security or unauthorized use of your account.
                You may not use as a username the name of another person or entity or that is not lawfully available for
                use, a name or trademark that is subject to any rights of another person or entity without appropriate
                authorization, or a name that is otherwise deceptive, offensive, vulgar, or obscene.
            </p>
            <h6>Intellectual Property</h6>
            <p class="terms">The Service and all contents, including but not limited to text, images, graphics or code are the
                property of Online Wired In. and are protected by copyright, trademarks, database and other intellectual
                property rights. You may display and copy, download or print portions of the material from the different
                areas of the Service only for your own non-commercial use. Any other use is strictly prohibited and may
                violate copyright, trademark and other laws. These Terms do not grant you a license to use any trademark
                of Online Wired In. or its affiliates. You further agree not to use, change or delete any proprietary
                notices from materials downloaded from the Service.
            </p>
            <h6>User-Generated Content</h6>
            <p class="terms">“Your Data” means any data and content which you upload, store, retrieve, or otherwise make available
                through the Service. You retain all of the rights to Your Data. You agree to grant Online Wired In. a
                license to store, retrieve, backup, restore, and otherwise copy Your Data so that we may provide you
                with the Service.
                Links To Other Web Sites
                The Service may contain links to third-party web sites or services that are not owned or controlled by
                Online Wired In.
                Online Wired In. has no control over, and assumes no responsibility for, the content, privacy policies,
                or practices of any third party web sites or services. You further acknowledge and agree that Online
                Wired In. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or
                alleged to be caused by or in connection with use of or reliance on any such content, goods or services
                available on or through any such websites or services.
                We strongly advise you to read the terms and conditions and privacy policies of any third-party web
                sites or services that you visit.
            </p>
            <h6>Termination of Accounts
            </h6>
            <p class="terms">Users who repeatedly violate copyright or other intellectual property, or whose first violation we
                determine to manifest an intent to engage in future repeated violations, will be blocked from accessing
                the Service. We reserve the right to make this determination in our sole discretion. In the event that a
                user's access to the Service is blocked, all data associated with its account may be lost.

            <h6>Changes</h6>
            <p class="terms">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision
                is material we will make reasonable efforts to provide at least 30 days’ notice prior to any new terms
                taking effect. What constitutes a material change will be determined at our sole discretion. By
                continuing to access or use our Service after those revisions become effective, you agree to be bound by
                the revised terms. If you do not agree to the new terms, in whole or in part, please stop using the
                website and the Service.
            </p>

        </div>

    </div>
</div>