<div class="container">
    <div class="row product">
        <div class="d-flex flex-column justify-content-center align-items-center product-box">
            <form action="/" method="POST">
                <div class="productclass">                    
                    <div class="form-group">
                         <label for="userCredential" class="form-control-label">&#x1F389;CONGRATS YOU ARE WIRERING &#x1F389;</label>
                            <h6 class="serviceName">Netflix</h6>
                        <label for="userCredential" class="form-control-label">USER ACCOUNT</label>
                        <input type="email" name="userCredential" value="{{service.userCredential}}" class="form-control" id="userCredential"
                            placeholder="&#x1F4E7;" required>

                        <label for="passwordCredential" class="form-control-label">PASSWORD ACCOUNT</label>
                        <div class="input-group" id="show_hide_password">
                            <input type="password" name="passwordCredential" value="{{service.passwordCredential}}" class="form-control" placeholder="&#x1F512"
                            id="passwordCredential" required>
                            <div class="input-group-addon">
                                 <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="register-btm register-button">
                        <button type="submit" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>