
<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="/service/list/Netflix">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/images/netflix-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6 class="find">FIND &#x1F50D</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="/service/list/HBOGO">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/images/hbo-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6 class="find">FIND &#x1F50D</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="/service/list/Disney">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/images/disney-logo.jpg" alt="" />
                            </div>

                            <div class="text-container">
                                <h6 class="find">FIND &#x1F50D</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="/service/list/Spotify">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/images/spotify-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6 class="find">FIND &#x1F50D</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="/service/list/AmazonVideo">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/images/primevideo-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6 class="find">FIND &#x1F50D</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="/service/list/Filmin">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/images/filmin-logo.jpg" alt="" </div>
                                <div class="text-container">
                                    <h6 class="find">FIND &#x1F50D</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>