.credential{
    padding-top: 2rem  !important;
}

.access-box {
    width: 50% !important;
    max-width: 390px !important;
    background: #E6EEF8;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    margin-top: 6rem !important;
}