  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}                 
html,
body {
  height: 100%;
}


.navbar-brand {
 font-weight: 800;
 padding-left: 5rem;
 }
                        
 .navbar-nav,
 .mr-auto {
     align-items: flex-end;
 }
 
 p {
     color: #1d5c4e;
     font-weight: lighter;
 }
 
 .wiredin,
 h1,
 .superititle {
     font-family: 'Bangers', cursive;
     color: white;
     text-align: center;
     font-size: 120px !important;
 }
 
 .btn,
 .btn-login {
     border: 2px solid white;
     border-radius: 14px;
 }
 
 .order {
     padding-right: 5rem;
 }
 .footer-basic {
     color:white;     
     padding: 1rem;
   }
   
   .footer-basic ul {
     padding:0;
     list-style:none;
     text-align:center;
     font-size:18px;
     line-height:1.6;
     margin-bottom:0;
    
   }
   
   .footer-basic li {
     padding:0 10px;
   }
   
   .footer-basic ul a {
     color:inherit;
     text-decoration:none;
     opacity:0.8;
   }
   
   .footer-basic ul a:hover {
     opacity:1;
   }
   
   .footer-basic .copyright {
     margin-top:15px;
     text-align:center;
     font-size:13px;
     color:#aaa;
     margin-bottom:0;
   }



.terms-box{  
    width: 50% !important;
    max-width: 790px !important;
    background: #E6EEF8;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    margin-top: 6rem !important;
    padding: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.terms{
    padding-left: 2rem !important;
     padding-right: 2rem !important;
}