.likes {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    margin: auto;
    margin-left: 1em !important;
  }
  
  .unliked {
    filter: grayscale();
  }

  
  .card-block,
  h6,
  .serviceSeller{
      color: black;
      font-size:1em !important;
      padding: 0em !important;

  }
  
  .card-block,
  h6,
  .serviceName{
      color: black;
      font-size:1em !important;
      padding: 0em !important;
  }
  .card-block,
  h6,
  .servicePrice{
      color: #2c5364;
      font-size:1em !important;
      padding: 0em !important;
  }

.card-block,
p,
.description{
    color: #2c5364;
    font-size: 1em !important;
    padding: 0em !important;
}

.marketcard{
    width: 320px;
    margin: auto;
  
}
.marketcard
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    margin-top:20px;
}

  .card-block{
      margin-top: 1em;
  }

.abtn{
   margin-bottom: 1em;
}

.addbtn{
    display: inline; 
}
  
#user-photo-market {
    border-radius: 50%;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-width: 100px;
    margin-left: 8px;
    border: 2px solid #1d5c4e;
    object-fit: cover;
    margin-top: 20px;
}

.likebtn{
    display: inline; 
    margin-bottom: 2em;
}
.market{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow{
    font-size: 2rem;
    color: #3cc8a8;
    margin-left: 5.2rem;
}

.readMore{
    background-color: transparent;
    border: 0px solid transparent;
    color:#3cc8a8;
    font-size: 0.6rem;
}

.readMore .more-text{
    display: none;
}