.orders{
    margin-top: 6em !important;
}
.orders .nav-pills .nav-link.active {
    background-color: #3cc8a8 !important;
    border: none;
}

.order{
    width: 320px;
}
.order
.card {
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    margin-top:20px;
}

.orderCard{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.pildora{
    color: white;
    text-align: center;

}

.oferta{
    width: 10em;
    border: none !important;
    margin-right: 1em;
    background-color: #3a5e7d;
 
}
.orden{
    width: 10em;
    border: none !important;
    margin-right: 1em;
    background-color: #3a5e7d;
}
.deseo{
    width: 10em;
    border: none !important;
    background-color:#3a5e7d;
}


#pills-home{
    color: white;
    margin-top: 2em;
    font-size: 1.3rem;
}

  
.card-block,
h6,
.orderName{
    color: black;;
    font-size:0.9em !important;
}

/*.card-block,
p,
.orderDescription{
  color: #2c5364;
  font-size: 0.7em !important;
}*/
  
.card-block,
h6,
.offerName{
    color: black;;
    font-size:0.9em !important;
}


/*.offerDescription{
  color: #2c5364;
  font-size: 0.7em !important;
}*/