* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product {
    display: flex;
    justify-content: center;
}

.product-form {
    display: block;
    align-items: center;
    justify-content: center;
}

.product-box {
    margin: auto;
    width: 50% !important;
    max-width: 390px !important;
    background: #E6EEF8;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

textarea[id=description] {
    background-color: #E6EEF8;
    border: none;
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    font-weight: lighter;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    width: 98%;
    margin: 0.5rem;
}

#selection,
select {
    background-color: #E6EEF8;
    border: none;
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    font-weight: lighter;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    width: 98%;
    margin: 0.5rem;
}

input[type=number] {
    background-color: #E6EEF8;
    border: none;
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    font-weight: lighter;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    width: 98%;
    margin: 0.5rem;
}

.custom-select {
    align-items: center;
}

.productclass {
    margin-top: 2rem;
}