* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-form {
    display: block;
    align-items: center;
    justify-content: center;
}

.product-box {
    margin: auto;
    width: 50% !important;
    max-width: 390px !important;
    /*margin-top : 75px;*/
    height: auto;
    background: #E6EEF8;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    /*width      : 290px !important;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    /*margin-left: 25rem;*/
    padding-top: 1rem;
}

.select i {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #2AC176;
    border-bottom: 4px solid #2AC176;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.select:hover i {
    margin-top: 3px;
}

textarea[id=description] {
    background-color: #E6EEF8;
    border: none;
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    font-weight: lighter;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    /*margin-left: 1em;
    width: 98%;*/
    width: 98%;
    margin: 0.5rem;
}

#selection,
select {
    background-color: #E6EEF8;
    border: none;
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    font-weight: lighter;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    /*margin-left: 1em;
    width: 98%;*/
    width: 98%;
    margin: 0.5rem;
}

input[type=number] {
    background-color: #E6EEF8;
    border: none;
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    font-weight: lighter;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    /*margin-left   : 1em;
th               : 98%;*/
    width: 98%;
    margin: 0.5rem;
}

.custom-select {
    align-items: center;
}