@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-form {
    display: block;
    align-items: center;
    justify-content: center;
}

.avatarWrapper {
    position: relative;
    margin-top: 2.5em;
    width: 258px;
    margin-left: 2.5em;
    margin-bottom: 2em;
}

img {
    border-radius: 50%;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-width: 100px;
    margin-left: 8px;
    border: 2px solid #e7a9ff;
    object-fit: cover;
}

.fa-cloud-upload {
    display: inline-block;
    line-height: 100px;
    font-size: 25px;
    /*height   : 200px;
                width          : 200px;*/
    color: #e7a9ff;
    position: absolute;
    margin-top: 80px;
    margin-left: 3.2em;
}

.label-email {
    padding-top: 15px;
    padding-left: 12px;
}

.profile-inputemail {
    font-size: 1em !important;
    padding-top: 5px;
    padding-left: 50px;
    color: #474b4e;
}

.profile-box {
    margin: auto;
    width: 50% !important;
    max-width: 390px !important;
    /*margin-top : 75px;*/
    height: auto;
    background: #E6EEF8;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    /*width      : 290px !important;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    /*margin-left: 25rem;*/
}

.profile-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
    margin-left: 4em;
}

.cursor-pointer {
    cursor: pointer;
}

input[type=file] {
    filter: alpha(opacity=0);
    opacity: 1;
    outline: none;
    cursor: inherit;
    position: absolute;
    border: none;
    margin-top: 9px;
    height: 100px;
}

input[type=date] {
    background-color: #E6EEF8;
    border: none;
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    font-weight: lighter;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
    /*margin-left   : 1em;
                width               : 98%;*/
    width: 98%;
    margin: 0.5rem;
}

input[name=e-mail] {
    border: 1px solid #90A4AE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #8728FF;
    /*margin-left   : 1em;
                width               : 98%;*/
    width: 98%;
    margin: 0.5rem;
}

.form-control:disabled,
.form-control[readonly] {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h4,
.emailprofile {
    color: #8728FF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}