<div class="row board  d-flex justify-content-center align-items-center">
    <h2 class="board">Account</h2>
  <div class="col-sm-3">
   
      <div class="card-body boards  one">
        <h5 class="card-title">Search a Streaming Service</h5>
        <p class="card-text">Click here to find out & share your favorite streaming services. </p>
        <a href="#" class="btn btn-primary">Lets Wired!</a>
      </div>
    
  </div>
  <div class="col-sm-3">
    
      <div class="card-body boards two">
        <h5 class="card-title">Create an ad</h5>
        <p class="card-text">Click here to create a streaming service. Is really easy.</p>
        <a href="/product" class="btn btn-primary">Create</a>
      </div>
    
  </div>
</div>