<!-- <div class="container content">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        	<div class="card">
        		<div class="card-header">Chat</div>
        		<div class="card-body height3">
        			<ul class="chat-list">
        				<li class="in">
        					<div class="chat-img">
        						<img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
        					</div>
        					<div class="chat-body">
        						<div class="chat-message">
        							<h5>Jimmy Willams</h5>
        							<p>Raw denim heard of them tofu master cleanse</p>
        						</div>
        					</div>
        				</li>
        				<li class="out">
        					<div class="chat-img">
        						<img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
        					</div>
        					<div class="chat-body">
        						<div class="chat-message">
        							<h5>Serena</h5>
        							<p>Next level veard</p>
        						</div>
        					</div>
        				</li>
        				<li class="in">
        					<div class="chat-img">
        						<img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
        					</div>
        					<div class="chat-body">
        						<div class="chat-message">
        							<h5 class="name">Jimmy Willams</h5>
        							<p>Will stumptown scenes coffee viral.</p>
        						</div>
        					</div>
        				</li>
        				<li class="out">
        					<div class="chat-img">
        						<img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
        					</div>
        					<div class="chat-body">
        						<div class="chat-message">
        							<h5>Serena</h5>
        							<p>Tofu master best deal</p>
        						</div>
        					</div>
        				</li>
        			</ul>
        		</div>
        	</div>
        </div> -->



<ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="Escribe tu mensaje aquí..." /><button>Enviar</button>
    </form>
    <script>
            var socket = io.connect('http://localhost:8080');
            // enviar mensaje de texto sin recargar/reiniciar la página
            $('form').submit(function(e){
                e.preventDefault(); // evitar recarga página
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // Añadir mensaje texto al chat
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
            // Añadir texto si alguien está online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // Preguntar el nombre de usuario
            var username = prompt('Dime tu nombre, por favor');
            socket.emit('username', username);
    </script>
  














































