  <a class="arrow" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> 
  <div class="container">
    <div class="row mailer">
        <div class="d-flex flex-column justify-content-center align-items-center mailer-box">
            <div class="col-10">
                <div class="col-lg-12">
                    <h6 class="gotmail">Your email has successfully sent!&#x1F60E;</h6>
                </div>
            </div>
        </div>
    </div>
</div>