<div class="container market">
    <div class="card marketCard" style="width: 350px;">
        <div class="row no-gutters">
            <div class="userservice col-sm-5">
                <img id="user-photo" src="{{currentUser.image}}" alt="Suresh Dasari Card">
            </div>
            <div class="usertext col-sm-7">
                <div class="card-body">
                    <h6 class="service">NETFLIX</h6>
                    <h6 class="description">Share Netflix for three months</h6>
                    <div class="chatbtn register-btm register-button">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Chat</button>
                        <div class="panel-footer"><a href="" class="btn btn-link pull-right favorite btn-block"><i
                                    class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>