<!--<div class="container">
    <div class="row menu d-flex justify-content-center align-items-center" style="
    margin-top: 10rem;">
        <div class="card menucard col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a href="">
               
                    <div class="text-box">
                        <div class="image-box">
                            <img id="service-photo card-img-top" src="..." alt="Card image cap" />
                        </div>
                        <div class="text-container">
                            <h6>Title 01</h6>

                        </div>
                    </div>
               
            </a>
        </div>
        <div class="card menucard col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a href="">
               
                    <div class="text-box">
                        <div class="image-box">
                            <img id="service-photo card-img-top" src="..."
                                alt="Card image cap" />
                        </div>
                        <div class="text-container">
                            <h6>Title 02</h6>

                        </div>
                    </div>
                
            </a>
        </div>
        <div class="card menucard col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a href="">
                
                    <div class="text-box">
                        <div class="image-box">
                            <img id="service-photo card-img-top" src="..." alt="Card image cap" />
                        </div>

                        <div class="text-container">
                            <h6>Title 03</h6>

                        </div>
                    </div>
                
            </a>
        </div>
        <div class="card menucard col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a href="">
              
                    <div class="text-box">
                        <div class="image-box">
                            <img id="service-photo card-img-top" src="..." alt="Card image cap" />
                        </div>
                        <div class="text-container">
                            <h6>Title 04</h6>
                        </div>
                    </div>
               
            </a>
        </div>
        <div class="card menucard col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a href="">
               
                    <div class="text-box">
                        <div class="image-box">
                            <img id="service-photo card-img-top" src="..." alt="Card image cap" />
                        </div>
                        <div class="text-container">
                            <h6>Title 04</h6>
                        </div>
                    </div>
               
            </a>
        </div>
        <div class="card menucard col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a href="">
               
                    <div class="text-box">
                        <div class="image-box">
                            <img id="service-photo card-img-top" src="..." alt="Card image cap" />
                        </div>
                        <div class="text-container">
                            <h6>Title 04</h6>
                        </div>
                    </div>
                
            </a>
        </div>
    </div>
</div>-->
<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container">

        <div class="row">
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/public/images/netflix-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Add &#x1F6D2</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/public/images/hbo-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Add &#x1F6D2</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/public/images/disney-logo.jpg" alt="" />
                            </div>

                            <div class="text-container">
                                <h6>Add &#x1F6D2</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/public/images/spotify-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Add &#x1F6D2</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/public/images/primevideo-logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Add &#x1F6D2</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="/public/images/filmin-logo.jpg" alt="" </div>
                                <div class="text-container">
                                    <h6>Add &#x1F6D2</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>