<div class="container">
    <div class="row product">
        <div class="col-lg-3 col-md-2">
            <div class="col-lg-6 col-md-8 product-box">
                <form action="/service" method="POST">
                    <div class="col-lg-10 product-form">
                        <div class="col-lg-12 product-form">
                            
                            <div class="form-group select">
                                <label for="service" class="form-control-label">STREAMING SERVICES LIST</label>
                                <select class="custom-select" id="service" name="service">
                                    <option value="">Choose... &#x1F50E;</option>
                                    <option value="Netflix">Netflix</option>
                                    <option value="HBO GO">HBO GO</option>
                                    <option value="Disney +">Disney+</option>
                                    <option value="Spotify">Spotify</option>
                                    <option value="Amazon Video">Amazon Video</option>
                                    <option value="Movistar+">Movistar+</option>
                                    <option value="Podimo">Podimo</option>
                                </select>
                            </div>

                           <div class="form-group">
                               <label class="form-control-label">PRICE</label>
                               <input type="number" name="price" id="price" class="form-control"
                                   placeholder="&#x1F4B3;"
                                   id="price" required>
                           </div>

                            <div class="form-group">
                                <label for="description" class="form-control-label">DESCRIPTION</label>
                                <textarea class="form-control" id="description" name="description" rows="3" placeholder="&#x1F4DD;"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">USER ACCOUNT</label>
                                <input type="email" name="userCredential" class="form-control" id="userCredential"
                                    placeholder="&#x1F4E7;" required>
                            
                            
                                <label class="form-control-label">PASSWORD ACCOUNT</label>
                                <input type="password" name="passwordCredential" class="form-control"
                                    placeholder="&#x1F512"
                                    id="passwordCredential" required>
                            </div>
                            {{#if errors}}
                                <p class="error-message">{{errors.description}}</p>
                            {{/if}}
                            <div class="col-lg-6 login-btm profile-button">
                                <button type="submit" class="btn btn-primary">Save!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>